* { box-sizing: border-box;
} 
body { 
    background-color: #eaeaea; 
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;}
     
header {height: 120px;
        text-align: center;
        padding-top: 30px;
        padding-left: 3em;
}
h1 { 
    background-color: #002171;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
}

nav { 
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1em;} 

main {
    padding: 1px 20px 20px 20px;
}

h2 { 
    color: #1976d2;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #cccccc;
}

h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

ul {
    list-style-image: url(marker.gif);
}

dt { color: #002171;}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
}

.resort { 
    color: #1976d2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: #90c7e3;
    border: 1px solid #000033;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
    background-image: linear-gradient(to bottom, #FFFFFF, #90c7e3);
}

#homehero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}